<!DOCTYPE html>
<html>
<head>
    <%- include('../elements/header'); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('../elements/navigation'); %>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <%- include('../elements/sidebar'); %>
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="<%=nodeAdminUrl%>/Dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Home Slider</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Homeslider</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="homeslider" enctype="multipart/form-data" action="<%=nodeAdminUrl%>/homeslider/add" method="post" name="homeslider">    
                <div class="card-body">
				
				<div class="form-group">
                    <label for="title">Title *</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter slider title" required pattern=".*\S+.*">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.title%> </span>
                </div>
				
				
				<div class="form-group">
                    <label for="year">Sub Title *</label>
                    <input type="text" class="form-control" id="sub_title" name="sub_title" placeholder="Enter sub title" required pattern=".*\S+.*">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.sub_title%> </span>
                </div>
			
                <div class="form-group">
                  <label for="exampleInputFile">Banner * [1920 x 960]</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" id="imgInp" name="myfile" required />
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <img id="imgview" src="#" alt=""  width="400" />
              </div>
				
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
				  <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-->
      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../elements/footer'); %>
</div>
<!-- ./wrapper -->
<%- include('../elements/js'); %>
<script>
// for image
function readURL(input) {
    
   
   // type
  var filename= input.files[0].name;
   var typeesplit = filename.split('.');
  var ext=typeesplit[1];
  
  var validImageTypes = ["jpg", "jpeg", "png","JPG","JPEG","PNG"];
if ($.inArray(ext, validImageTypes)>=0) {
  
 
      if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#imgview').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  } 
  }
  else{
      alert('Please select a valid image type');
      $('#imgInp').val(''); 
      return false;
  }
  
  
 
}

$("#imgInp").change(function() {
   
    
  readURL(this);
});
</script>
</body>
</html>
