<!DOCTYPE html>
<html>
<head>
    <%- include('../elements/header'); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('../elements/navigation'); %>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <%- include('../elements/sidebar'); %>
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="<%=nodeAdminUrl%>/Dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Dealers</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Dealers</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  id="dealers" enctype="multipart/form-data" action="<%=nodeAdminUrl%>/dealers/edit/<%=data[0].sn%>" method="post" name="dealers"> 
                <div class="card-body">
				<div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%=data[0].name%>" placeholder="Enter dealer name" required pattern=".*\S+.*">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.name%> </span>
                </div>
				
				<div class="form-group">
                    <label for="address">Address *</label>
                    <input type="text" class="form-control" id="address" name="address" value="<%=data[0].address%>" placeholder="Enter address" required>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.address%> </span>
                </div>
				  <div class="form-group">
                  <label>State *</label>
                  <select class="form-control select2" style="width: 100%;" name="state" id="state">
<option value="Andhra Pradesh" <% if(data[0].state == "Andhra Pradesh" ){ %>selected="selected"<% }%>>Andhra Pradesh</option>
<option value="Andaman and Nicobar Islands" <% if(data[0].state == "Andaman and Nicobar Islands" ){ %>selected="selected"<% }%>>Andaman and Nicobar Islands</option>
<option value="Arunachal Pradesh" <% if(data[0].state == "Arunachal Pradesh" ){ %>selected="selected"<% }%>>Arunachal Pradesh</option>
<option value="Assam" <% if(data[0].state == "Assam" ){ %>selected="selected"<% }%>>Assam</option>
<option value="Bihar" <% if(data[0].state == "Bihar" ){ %>selected="Bihar"<% }%>>Bihar</option>
<option value="Chandigarh" <% if(data[0].state == "Chandigarh" ){ %>selected="Bihar"<% }%>>Chandigarh</option>
<option value="Chhattisgarh" <% if(data[0].state == "Chhattisgarh" ){ %>selected="Chhattisgarh"<% }%>>Chhattisgarh</option>
<option value="Dadar and Nagar Haveli" <% if(data[0].state == "Dadar and Nagar Haveli" ){ %>selected="Chhattisgarh"<% }%>>Dadar and Nagar Haveli</option>
<option value="Daman and Diu" <% if(data[0].state == "Daman and Diu" ){ %>selected="Chhattisgarh"<% }%>>Daman and Diu</option>
<option value="Delhi" <% if(data[0].state == "Delhi" ){ %>selected="Chhattisgarh"<% }%>>Delhi</option>
<option value="Lakshadweep" <% if(data[0].state == "Lakshadweep" ){ %>selected="Chhattisgarh"<% }%>>Lakshadweep</option>
<option value="Puducherry" <% if(data[0].state == "Puducherry" ){ %>selected="Chhattisgarh"<% }%>>Puducherry</option>
<option value="Goa" <% if(data[0].state == "Goa" ){ %>selected="Chhattisgarh"<% }%>>Goa</option>
<option value="Gujarat" <% if(data[0].state == "Gujarat" ){ %>selected="Chhattisgarh"<% }%>>Gujarat</option>
<option value="Haryana" <% if(data[0].state == "Haryana" ){ %>selected="Chhattisgarh"<% }%>>Haryana</option>
<option value="Himachal Pradesh" <% if(data[0].state == "Himachal Pradesh" ){ %>selected="Chhattisgarh"<% }%>>Himachal Pradesh</option>
<option value="Jammu and Kashmir" <% if(data[0].state == "Jammu and Kashmir" ){ %>selected="Chhattisgarh"<% }%>>Jammu and Kashmir</option>
<option value="Jharkhand" <% if(data[0].state == "Jharkhand" ){ %>selected="Chhattisgarh"<% }%>>Jharkhand</option>
<option value="Karnataka" <% if(data[0].state == "Karnataka" ){ %>selected="Chhattisgarh"<% }%>>Karnataka</option>
<option value="Kerala" <% if(data[0].state == "Kerala" ){ %>selected="Chhattisgarh"<% }%>>Kerala</option>
<option value="Madhya Pradesh" <% if(data[0].state == "Madhya Pradesh" ){ %>selected="Chhattisgarh"<% }%>>Madhya Pradesh</option>
<option value="Maharashtra" <% if(data[0].state == "Maharashtra" ){ %>selected="Chhattisgarh"<% }%>>Maharashtra</option>
<option value="Manipur" <% if(data[0].state == "Manipur" ){ %>selected="Chhattisgarh"<% }%>>Manipur</option>
<option value="Meghalaya" <% if(data[0].state == "Meghalaya" ){ %>selected="Chhattisgarh"<% }%>>Meghalaya</option>
<option value="Mizoram" <% if(data[0].state == "Mizoram" ){ %>selected="Chhattisgarh"<% }%>>Mizoram</option>
<option value="Nagaland" <% if(data[0].state == "Nagaland" ){ %>selected="Chhattisgarh"<% }%>>Nagaland</option>
<option value="Odisha" <% if(data[0].state == "Odisha" ){ %>selected="Chhattisgarh"<% }%>>Odisha</option>
<option value="Punjab" <% if(data[0].state == "Punjab" ){ %>selected="Chhattisgarh"<% }%>>Punjab</option>
<option value="Rajasthan" <% if(data[0].state == "Rajasthan" ){ %>selected="Chhattisgarh"<% }%>>Rajasthan</option>
<option value="Sikkim" <% if(data[0].state == "Sikkim" ){ %>selected="Chhattisgarh"<% }%>>Sikkim</option>
<option value="Tamil Nadu" <% if(data[0].state == "Tamil Nadu" ){ %>selected="Chhattisgarh"<% }%>>Tamil Nadu</option>
<option value="Telangana" <% if(data[0].state == "Telangana" ){ %>selected="Chhattisgarh"<% }%>>Telangana</option>
<option value="Tripura" <% if(data[0].state == "Tripura" ){ %>selected="Chhattisgarh"<% }%>>Tripura</option>
<option value="Uttar Pradesh" <% if(data[0].state == "Uttar Pradesh" ){ %>selected="Chhattisgarh"<% }%>>Uttar Pradesh</option>
<option value="Uttarakhand" <% if(data[0].state == "Uttarakhand" ){ %>selected="Chhattisgarh"<% }%>>Uttarakhand</option>
<option value="West Bengal" <% if(data[0].state == "West Bengal" ){ %>selected="Chhattisgarh"<% }%>>West Bengal</option>
                  </select>
				  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
				  <span class="error"><%=errorData.state%> </span>
                </div>
				<div class="form-group">
                    <label for="city">City *</label>
                    <input type="text" class="form-control" id="city" name="city" value="<%=data[0].city%>" placeholder="Enter city" required pattern=".*\S+.*">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.city%> </span>
                </div>
				
				<div class="form-group">
                    <label for="phoneno">Phone No *</label>
                    <input type="text" class="form-control" id="phoneno" name="phoneno" value="<%=data[0].phoneno%>" placeholder="Enter phone no" required>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.phoneno%> </span>
                </div>
				<div class="form-group">
                    <label for="alter_phoneno">Alternate Phoneno [Optional]</label>
                    <input type="text" class="form-control" id="alter_phoneno" name="alter_phoneno" value="<%=data[0].alter_phoneno%>"  placeholder="Enter alternate phone no">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.alter_phoneno%> </span>
                </div>
				<div class="form-group">
                    <label for="email">Email *</label>
                    <input type="text" class="form-control" id="email" name="email" value="<%=data[0].email%>" placeholder="Enter email" required>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.email%> </span>
                </div>
				
				<div class="form-group">
                    <label for="email">Alternate Email [Optional]</label>
                    <input type="text" class="form-control" id="alter_email" name="alter_email" value="<%=data[0].alter_email%>" placeholder="Enter alternate email">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span class="error"><%=errorData.alter_email%> </span>
                </div>
				
				 <div class="form-group">
                  <label for="exampleInputFile">Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" id="imgInp" name="myfile" />
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <img id="imgview" src="/uploads/dealers/<%=data[0].myfile%>" alt=""  width="100" />
              </div>
			  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
				  <input type="hidden" name="sn" id="sn" value="<%=data[0].sn%>"> 
                  <button type="submit" class="btn btn-primary">Submit</button>
				  <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-->
      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../elements/footer'); %>
</div>
<!-- ./wrapper -->
<%- include('../elements/js'); %>
<script>
// for image
function readURL(input) {
    
   
   // type
  var filename= input.files[0].name;
   var typeesplit = filename.split('.');
  var ext=typeesplit[1];
  
  var validImageTypes = ["jpg", "jpeg", "png","JPG","JPEG","PNG"];
if ($.inArray(ext, validImageTypes)>=0) {
  
 
      if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#imgview').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  } 
  }
  else{
      alert('Please select a valid image type');
      $('#imgInp').val(''); 
      return false;
  }
  
  
 
}

$("#imgInp").change(function() {
   
    
  readURL(this);
});
</script>
</body>
</html>
