<!-- Brand Logo -->
<a href="<%= nodeAdminUrl %>/dashboard" class="brand-link">
  <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	   style="opacity: .8">
  <span class="brand-text font-weight-light">BYD Cars</span>
</a>
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
	<!-- <div class="image">
	  <img src="/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
	</div> -->
	<div class="info">
	  <a href="<%= nodeAdminUrl %>/dashboard" class="d-block">Admin : <%=LoginUser['nick_name'] %></a>
	</div>
  </div>
  <!-- Sidebar Menu -->
  <nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	  
	  <!-- 
	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Manage Inner Banner 
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="/admin/bannermanage" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Manage Banners</p>
			</a>
		  </li>
		</ul>
	  </li> -->
      
	  <li class="nav-item">
		<a href="<%= nodeAdminUrl %>/dealers/list" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Dealers</p>
		</a>
	  </li>

	  <li class="nav-item">
		<a href="<%= nodeAdminUrl %>/testdrive/list" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Test Drive</p>
		</a>
	  </li>
      <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Manage Home Banner 
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/homeslider/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Manage Slider</p>
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Content Management
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/cms/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Edit Pages</p>
			</a>
		  </li>
		</ul>
	  </li>

	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			News / Events
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/news/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p> Manage News </p>
			</a>
		  </li>
		</ul>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/events/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Manage Events</p>
			</a>
		  </li>
		</ul>
		
	  </li>

	  
	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Media
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/media/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p> Manage Images </p>
			</a>
		  </li>
		</ul>

	  </li>


	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Manage Newsletter
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/newsletter/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Subscription List</p>
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="<%= nodeAdminUrl %>/careers/list" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Careers Management</p>
		</a>
	  </li>
	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Manage Contacts
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/smecontact/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>SME Contact</p>
			</a>
		  </li>
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/supportcontact/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Support Contact</p>
			</a>
		  </li>
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/contact/list" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Contact Us</p>
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item has-treeview">
		<a href="#" class="nav-link">
		  <i class="nav-icon fas fa-book"></i>
		  <p>
			Admin Account
			<i class="fas fa-angle-left right"></i>
		  </p>
		</a>
		<ul class="nav nav-treeview">
		  <li class="nav-item">
			<a href="<%= nodeAdminUrl %>/updatepassword" class="nav-link">
			  <i class="far fa-circle nav-icon"></i>
			  <p>Change Password</p>
			</a>
		  </li>
		</ul>
	  </li>
	  </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->